.link,
.link * {
  color: #0195be;
}

.unstyled-link {
  text-decoration: none;
}

.mb-20 {
  margin-bottom: 20px;
}

.tac {
  text-align: center;
}

.m-10 {
  margin: 10px;
}

.mt-10 {
  margin-top: 10px;
}
